.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0 4rem;
}
.booking {
  border-bottom: 1px solid gray;
}
.my {
  margin-left: 0;
}
.taps {
  display: flex;
  /* margin: 1rem 4rem; */
}
.tabs {
  display: flex;
  margin: 1rem 4rem;
  gap: 0.5rem;
}

.tab {
  padding: 0.4rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.tab.active {
  background-color: #ff7f50;
  color: white;
  border: none;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1.5rem;
  margin: 2rem 4rem;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border: 1px solid gray;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.complete-tag {
  background: #28a745;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.8rem;
}

.doctor-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.5px solid gray;
}

.doctor-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.info-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  gap: 1px;
}

.tags {
  margin: 0;
}
.price {
  color: #ff7f50;
}
.tag {
  display: inline-block;
  background: #ff7f50;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.75rem;
  margin-right: 0.4rem;
}

.note {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #ff7f50;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 6rem;
  cursor: pointer;
}

.li {
  color: #ff7f50;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  margin-left: 5rem;
}
.paid {
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p {
  margin: 0;
}
@media (max-width: 700px) {
  .header {
    margin: 0 1rem;
  }
  .booking-grid {
    margin: auto;
  }
  .tabs {
    display: flex;
    margin: 1rem 1rem;
    gap: 0.5rem;
  }
}
